services:
  jekyll:
    image: ruby:3.1-alpine
    command: sh -c "apk add --no-cache build-base && gem install bundler && bundle install && bundle exec jekyll serve --host 0.0.0.0 --watch --force_polling"
    ports:
      - 4000:4000
    volumes:
      - .:/srv/jekyll
    working_dir: /srv/jekyll
    environment:
      - JEKYLL_ENV=development
